.bg-container {
    background: url(BotImage.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

/* Membuat kotak semi-transparan untuk teks */
.content-box {
    background: rgb(236, 233, 179); /* Warna hitam dengan transparansi */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

/* Navbar tetap di atas */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.gradient-text {
    background: linear-gradient(45deg, #4ccb17, #ffb700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Warna default navigasi */
.nav-link {
    color: #4ccb17;
}

/* Warna saat hover */
.nav-link:hover {
    color: #ffffcc;
}

/* Warna saat aktif */
.nav-link.active {
    color: #4ccb17 !important;
}
.navbar-nav .nav-item {
    margin-right: 50px;
    align-content: center;
}
